html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  position: relative;
  background-color: #222222;
}

.header__wrp {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

.header__container {
  display: flex;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__search {
  display: flex;
  gap: 10px;
}

.header__search-input {
  border: 2px solid #f18b99;
  border-radius: 5px;
  outline: none;
  background: #f18b99;
  color: #ffffff;
  font-size: 16px;
}

.header__search-input:hover,
.header__search-input:focus {
  outline: 2px solid red;
}

.header__search-button {
  background: none;
  border: none;
}

.header__search-icon {
  fill: #e8e8e8;
}

.header__search-icon:hover {
  fill: #f16d7f;
}

.header__link {
  margin: 0 0 0 33px;
}

.header__menu-list {
  display: flex;
  align-items: center;
}

.header__nav {
  position: absolute;
  width: 232px;
  height: 764px;
  background-color: white;
  top: 100%;
  right: 0;
  box-shadow: -10px 8px 10px 2px rgba(34, 60, 80, 0.2);
  display: none;
}

.header__nav-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  padding: 37px 0 24px 34px;
}

.header__burger {
  border: none;
  background-color: transparent;
}

.header__burger-icon:hover + .header__nav,
.header__burger-icon:focus + .header__nav {
  display: block;
}

.header__nav:hover {
  display: block;
}

.header__burger-icon:hover {
  fill: #f18b99;
  cursor: pointer;
}

.header__burger-icon {
  fill: #e8e8e8;
}

.header__person-link {
  fill: #e8e8e8;
}

.header__person-link:hover {
  fill: #f18b99;
}

.header__basket-link {
  fill: #e8e8e8;
}

.header__basket-link:hover {
  fill: #f18b99;
}

.nav-item__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #f16d7f;
  text-transform: uppercase;
  padding: 20px 0 12px 33px;
}

.nav-item__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  text-transform: capitalize;
  color: #6F6E6E;
  padding: 0 0 11px 54px;
}

.brand {
  margin: 0 0 65px 0;
  display: flex;
  background-color: #f1e4e6;
}

.brand__img {
  height: 764px;
  width: 800px;
}

.brand__title-wrp {
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
}

.brand__decor {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  border: none;
  margin: 0 16px 0 0;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.brand__title-lower {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.brand__title-pink {
  color: #f18b99;
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sales__item {
  height: 260px;
  width: 360px;
  background-color: #4e4544;
}

.sales__item--women {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/women-sales.jpg);
}

.sales__item--man {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/man-sales.jpg);
}

.sales__item--kids {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/kids-sales.jpg);
}

.sales__item--accesories {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 30px 0 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/accesories-sales.jpg);
}

.sales__item-text {
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  color: white;
}

.sales__item-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f18b99;
}

.products {
  margin: 96px 0 0 0;
}

.products__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
}

.products__sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin: 0 0 48px 0;
  color: #9f9f9f;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  height: 581px;
  width: 360px;
  flex-direction: column;
  margin: 0 0 30px 0;
  position: relative;
}

.products__busket-img {
  height: 23px;
  width: 25px;
  border-radius: 0px;
}

.products__basket-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 0 10px;
}

.products__item:hover,
.products__item:hover {
  display: block;
  border: 1px solid #ffffff;
}

.products__item-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  padding: 25px 0 12px 0;
}

.products__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5d5d5d;
  padding: 0 0 18px 0;
}

.products__item-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #f16d7f;
}

.products__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0 191px 0;
}

.products__button-text:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #f16d7f;
}

.products__button-text:active {
  color: #ffffff;
  background-color: #f16d7f;
}

.products__button-text {
  height: 47px;
  width: 211px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid #ff6a6a;
  color: #f16d7f;
}

.overlay {
  width: 100%;
  min-height: 420px;
  background: #3a3838db;
  position: absolute;
  top: 0;
}

.overlay {
  display: none;
}

.overlay:hover {
  display: block;
  border: 1px solid #ffffff;
}

.button {
  width: 138px;
  height: 43px;
  background-color: #3a3838db;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button:hover {
  background-color: #f16d7f;
  cursor: pointer;
}

.button:focus {
  border: 1px solid red;
}

.button:active {
  background-color: #f16d7f;
}

.button {
  display: none;
}

.button:hover {
  display: block;
  border: 1px solid #ffffff;
}

.feature {
  height: 341px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__list {
  display: flex;
  justify-content: space-between;
}

.feature__item {
  height: 134;
  width: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.feature__item-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  padding: 26px 0 16px 0;
  color: #ffffff;
}

.feature__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.subscribe {
  height: 448px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/subscribe-img.jpg);
}

.subscribe__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.subscribe__list {
  height: 224px;
  width: 359px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 97px 0 0 0;
}

.subscribe__inscription {
  height: 99px;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 15px 0 0 0;
}

.subscribe__form {
  height: 142px;
  width: 557px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 150px 0 0 0;
}

.subscribe__heading {
  height: 61px;
  padding: 0 0 32px 0;
}

.subscribe__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.subscribe__sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.subscribe__form-submit {
  display: flex;
}

.subscribe__input {
  padding: 0 0 0 27px;
  text-align: left;
  height: 49px;
  width: 322px;
  border: none;
  background: #E1E1E1;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.subcribe__button {
  padding: 7px 15px 6px 8px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: none;
  background: #E05C6E;
  color: white;
}

.subcribe__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer {
  height: 79px;
  background-color: #222222;
}

.footer__icon {
  padding: 24px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
  width: 147px;
  height: 32px;
  gap: 8px;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
}

.footer__reference {
  width: 32px;
  height: 32px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.footer__reference:hover {
  background: #f16d7f;
}

.footer__img:hover {
  fill: white;
}

.forms__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  margin: 59px 0 0 0;
  color: #f16d7f;
}

.forms__regitration {
  display: flex;
  justify-content: center;
  gap: 180px;
  margin: 124px 0 0 0;
}

.forms__list-name {
  display: flex;
  flex-direction: column;
}

.forms__list-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  padding: 0 0 20px 0;
}

.forms__list-input {
  height: 45px;
  width: 360px;
  border-radius: 0px;
  border: 1px solid #A4A4A4;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 0 0 17px;
  margin: 0 0 20px 0;
}

.forms__list-radio {
  margin: 12px 0 35px 0;
}

.forms__list-select {
  width: 17px;
  height: 17px;
  margin: 0 10px 0 0;
}

.forms__list-sex {
  font-size: 15px;
  font-weight: 300;
  line-height: 13px;
  margin: 0 20px 0 0;
}

.forms__list-text {
  width: 359px;
  height: 32px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  margin: 15px 0 40px 0;
}

.forms__list-button {
  padding: 16px 46px 17px 29px;
  background: #f16d7f;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 0 86px 0;
}

.forms__list-input:hover,
.forms__list-input:focus {
  border: 1px solid #f18b99;
}

.forms__list-button:hover,
.forms__list-button:focus {
  opacity: 0.7;
  cursor: pointer;
}

.forms__list-select:hover {
  cursor: pointer;
}

.forms__perks {
  width: 652px;
  height: 334px;
  display: flex;
  flex-direction: column;
}

.forms__perks-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.forms__perks-text {
  width: 652px;
  height: 58px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  margin: 0 0 21px 0;
}

.forms__perks-item {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  padding: 0 0 16px 43px;
}

.forms__perks-item:before {
  content: '';
  width: 20px;
  height: 16px;
  background: none;
  position: absolute;
  top: 5px;
  left: 6px;
  background-image: url(../img/check.svg);
}
/*# sourceMappingURL=style.css.map */