.brand {
    height: 764px;
    margin: 0 0 65px 0;
    display: flex;
    background-color: $pink-bcg;
    @include tablet {
      width: 100%;
      height: 368px;
      margin: 0 0 20px 0;
    }
    @include mobile {
      max-width: 100%;
      height: 363px;
    }
  }
  
  .brand__img {
    height: 100%;
    width: 50%;
    object-fit: scale-down;
    @include tablet {
      height: 100%;
      width: 50%;
      object-fit: contain;
    }
    @include mobile {
      display: none;
    }
  }
  
  .brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    @include tablet {
      width: 50%;
      padding: 0 0 0 39px;
    }
  }
  
  .brand__decor {
    width: 12px;
    height: 92px;
    background-color: $dark-pink-color-item-price;
    border: none;
    margin: 0 16px 0 0;
  }
  .brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    @include tablet {
      font-size: 44px;
      font-weight: 900;
      line-height: 53px;
    }
  }
  
  .brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    @include tablet {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0em;
    }
  }
  
  .brand__title-pink {
    color: $pink-color;
  }