.nav-item__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color:$dark-pink-color-item-price;
    text-transform: uppercase;
    padding: 20px 0 12px 33px;
  }
  
  .nav-item__item { 
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    text-transform:capitalize;
    color: #6F6E6E;
    padding: 0 0 11px 54px;
  
  }
  