.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mobile {
      justify-content: center;
      gap: 32px;
    }
}
  
  .sales__item {
    height: 260px;
    width: 360px;
    background-color: $sales-bkg;
    @include tablet {
      height: 167px;
      width: 232px;
    }
    @include mobile {
      height: 247px;
      width: 343px;
    }
  }
  
  .sales__item--women {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/women-sales.jpg);
    @include tablet {
      background-size:100%;
    }
  }
  
  .sales__item--man {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/man-sales.jpg);
    @include tablet {
      background-size:100%;
    }
  }
  
  .sales__item--kids {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/kids-sales.jpg);
    @include tablet {
      background-size:100%;
    }
  }
  
  .sales__item--accesories {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 30px 0 0 0;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: url(../img/accesories-sales.jpg);
    @include tablet {
      height: 116px;
    }
    @include mobile {
      height: 111px;
      width: 343px;
      margin: 0 0 0 0;
    }
  }
  
  .sales__item-text {
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: white;
  }
  
  .sales__item-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: $pink-color;
  }